<%= form_for @product do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %><br />
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :product_images %><br />
    <%= f.file_field :product_images, multiple: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit form_submit_button, class: 'btn btn-primary' %>
  </div>
<% end %>