<h2>Product Show Page</h2>
<p>
  <strong>Id:</strong>
  <%= @product.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<table>
  <tbody>
    <tr>
      <% @product.product_images.each do |image| %>
        <td>
          <%= image_tag image.url, height: 200, width: 200 %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>


