<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <% if flash.present? %>
        <p class="flash-errors"><%= flash[:error] %></p>
        <p class="flash-success"><%= flash[:success] %></p>
        <p class="flash-notice"><%= flash[:notice] %></p>
      <% end %>

      <%if notice.present? || alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      
      
      
      <%= render 'shared/header' %>
    <div class= 'container'>
      <%= yield %>  
    </div>
  </body>
</html>
